*,*::after,*::before{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
*,html{
    scroll-behavior: smooth;
    }
    *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    :root{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
    --white:#fff;
    --black:#1e1e1e;
    --pink:#e30846;
    --secondary:#202124;
    --gray:#b8bca7;
    --blue:#061221;
    }
    ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
    }
    ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    ::-webkit-scrollbar-corner {
    background: #000;
    }
body{
    min-width: 100vw;
    min-height: 100vh;
    background-color:rgb(238, 74, 74);
    /* color:white; */
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding:50px;
    flex-direction: column;
}
.header{
    width:max-content;
    text-align: center;
    color:white; 
    margin:0 0 20px;  
    border-bottom: 4px solid rgb(0, 0, 0);
    /* border-radius: 5px; */
    margin-top:120px; 

    font-weight: bolder;
}
 /*TOP NAVIGATION*/
 #header{
    position:fixed;
    top:0rem;
    width:100vw;
    padding:0; 
    z-index:99999;
    transition:0.5s;
    margin-bottom: 30px;
}
    
    
    .topnav {
        overflow: hidden;
        background-color: #000;
        width:80%;
        margin:auto; 
        box-shadow:0px 6px 16px -6px #EF5137;
        transition:0.5s;
        }
   
    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    margin:auto 1rem;
    text-decoration: none;
    font-size: 17px;
    position:relative;
    top:10px;
    }
    
    #logo{
    width:120px;
    position:relative;
    top:-10px;
    }
    
    #icon{
    float:right;
    }
    
    #active{
    display:flex;
    }
    
    #active img{
    width:130px;
    }
    
    #active:hover{
    color:#fff;
    }
    
    .topnav .icon {
    display: none;
    }
    
    .dropdown {
    float: left;
    overflow: hidden;
    }
    
    .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:auto 1rem;
    position:relative;
    top:10px;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top:2px solid #cd2027;
    }
    
    .dropdown-content a {
    float: none;
    color: black;
    padding: 8px 16px;
    margin:auto 0rem;
    text-decoration: none;
    display: block;
    text-align: left;
    top:0;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
    color: #cd2027;
    }
    
    .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .dropdown:hover .dropdown-content {
    display: block;
    }
    
    @media screen and (max-width: 1120px) {
    .logo{
    width:20px;
    position:static;
    }
    .dropdown .dropbtn {
    padding: 14px 16px;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
    #active{
    display:none;
    }
    }
    
    @media screen and (max-width: 1120px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
    }
.team{
    padding:30px;
    /* margin-top:100px;  */
    width:75vw; 
    height:auto;
    background-color: black;
    border-radius:20px;
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.department{
    display:flex; 
    justify-content: center;
    width:max-content; 
    color:white;
    margin:0 0 20px; 
    border-bottom: 4px dotted rgb(6, 250, 39);

}
.title{
    display:flex; 
    justify-content: center;
    width:max-content; 
    color:white;
    border-bottom: 4px solid rgb(249,68,39);
    margin:0 0 20px;  

}
.container{
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}
.carousel1,.carousel2,.carousel3,.carousel4,.carousel5,.carousel6,.carousel7,.carousel8,.carousel9{
    display:flex; 
    justify-content:space-around;
    align-items: center;
    margin-bottom:30px; 
    padding:0 30px; 
    flex-wrap: wrap;
    width:100%;
    /* flex-direction: column; */
}


.Glasscard{
    display:flex; 
    justify-content: center;
    align-items: center;
    width:220px; 
    height:250px; 
    margin:20px; 
    flex-direction: column;
    position:relative;
    z-index:1; 
    background: rgba( 244, 244, 244, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Glasscard::before{
    content:'';
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
    background:linear-gradient(rgb(195, 94, 241),rgb(249,68,39));
    clip-path:circle(20% at right 90%);
    z-index:-1; 

}
.Glasscard::after{
    content:'';
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
    background:linear-gradient(#c4e64d,#e91e63);
    clip-path:circle(10% at 5% 5%);
    z-index:-1; 
   
}

.Glasscard .contentbox{
    position:relative; 
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    opacity:0.4;
    transition:0.3s; 
}
.Glasscard:hover .contentbox, .Glasscard:hover .imgbox{
    opacity:1; 
    transform:translateY(-10px);
}
.Glasscard .imgbox{
    position:relative; 
    width:150px; 
    height:150px; 
    border-radius: 50%;
    overflow:hidden; 
    border:6px solid rgba(0,0,0,0.1);
    transition:0.5s; 
    z-index:1; 
}
.Glasscard .imgbox img{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%;
    object-fit: cover;
}

.Glasscard .contentbox .about h3{
    color:#fff;
    letter-spacing: 1px;
    font-weight: 500;
    font-size:20px;
    text-align: center;
    margin:10px 0 10px; 
    line-height: 1.1em;
}
/* .Glasscard .contentbox .about h3 span{
    font-size: 16px;
    font-weight: 300;
     text-transform: initial;
} */

.Glasscard .links{
    /* position:absolute;  */
    bottom:0px; 
    width:100%;
}
.Glasscard .links ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
}
.Glasscard .links li{
    list-style:none; 
    margin:0 10px; 
    transform: translateY(40px);
    opacity:0;
    transition:0.5s; 
    transition-delay:calc(0.1s*var(--i));
}

.Glasscard:hover .links li{
    transform:translateY(0px);
    opacity:1; 
}
.Glasscard .links li a{
   color:#fff; 
   font-size: 24px;
}
.owl-item{
    display:flex; 
    justify-content: center;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height:15px;
    width:20px; 
    border-radius: 25px;
    cursor:pointer;
    outline:none; 
    margin:0 5px; 
    border:2px solid white!important;
    transition:all 4ms ease-in-out; 
}

.owl-dot:hover{
    background:white!important;
}


.owl-dot:focus{
    background:white!important;
    width:30px; 
}